body{
    /* background: linear-gradient(to right, rgb(49, 46, 46), rgb(76, 104, 165)); */
    background: rgb(0, 0, 0);
    margin: 0;
}
.container{
    border: 3px solid rgb(255, 255, 255);
    block-size: 100vh;
    /* max-inline-size: 1024px; */
    display: grid;
    gap: 1rem;
    
    /* grid-template-columns: repeat(auto-fill, minmax(200px,1fr)) ; */
    /* grid-template-rows: repeat(auto-fill, minmax(200px,1fr)) ; */
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;

    /* grid-template-areas: "header header" "sidebar main" "footer footer"; */

    /* column-gap: 5px; */
    /* row-gap: 10px; */


    grid-auto-flow: column;

    align-items: ;
    align-content:center ;

    justify-items: ;
    justify-content: center;
    /* writing-mode: vertical-lr; */

    place-item: ;
    place-content: ;

}

.item{
    border: 3px solid rgb(240, 7, 240);
    color: white;
    counter-increment: item;
    font-size: 3rem;
    font-family: arial;


    /* display: flex;
    justify-content: center;
    align-items: center; */


    align-self: ;
    justify-self: ;
    place-self: ;
}
.item::before{
    content: counter(item);
}

.item:nth-child(3){
    border-color: rgb(0, 123, 231);

    place-self: center;
} 


/* .item:nth-of-type(1){
    border-color: rgb(38, 0, 255);

    grid-area: header;
}

.item:nth-of-type(2){
    border-color: rgb(136, 11, 11);
   
    grid-area: sidebar;
}

.item:nth-of-type(3){
    border-color: rgb(15, 160, 2);

    grid-area: main;
}

.item:nth-of-type(4){
    border-color: rgb(228, 13, 210);

    grid-area: footer;
    margin-block-start: 50px;
} */