body{
    /* background: linear-gradient(to right, rgb(49, 46, 46), rgb(76, 104, 165)); */
    background: rgb(0, 0, 0);
}
.container{
    border: 3px solid rgb(255, 255, 255);
    display: grid;
    
    grid-template-columns: 15rem 40rem ;
    grid-template-rows: 15rem 60rem;

    grid-template-areas: "header header" "sidebar main";

}

.item{
    border: 3px solid rgb(240, 7, 240);
    color: white;

    counter-increment: item;
}

.item::before{
    content: counter(item);
}

.item:nth-of-type(1){
    border-color: rgb(38, 0, 255);

    grid-area: header;
}

.item:nth-of-type(2){
    border-color: rgb(136, 11, 11);
   
    grid-area: sidebar;
}

.item:nth-of-type(3){
    border-color: rgb(15, 160, 2);

    grid-area: main;
}